.card{
    display: block;
    margin-top: 50px;
    background-color: lightgray;
    color: #222222;
    width: 300px;
    margin-left:auto ;
    margin-right: auto;
    padding: 20px;
    border:8px dashed #222222;
    border-radius:20px;
}